@import "styles";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body {


  iframe {
    display: none;
  }

  margin: 0;
  background-color: #000000;
  color: white;
  overflow: hidden;
  ::-webkit-scrollbar {
    width: 5px;
  }

  ::-webkit-scrollbar-track {
    background: #E0E0E0;
    border-radius: 20px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #8C8C8C;
    border-radius: 20px;
  }
}