@import "styles";
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  iframe {
    display: none;
  }
  margin: 0;
  background-color: #000000;
  color: white;
  overflow: scroll;
}
