.fade-enter {
  opacity: 0.01;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  position: absolute;
  left: 10vw;
}

.fade-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  position: absolute;
  left: 10vw;
}

.fade-exit {
  opacity: 1;
  transform: scale(1);
  transition: all 500ms ease-in-out;
  position: absolute;
  left: 10vw;
}

.fade-exit-active {
  opacity: 0.01;
  transform: scale(0);
  transition: all 500ms ease-in-out;
  position: absolute;
  left: 10vw;
}
