.medium-gradient-btn {
    width: 100%;
    background: linear-gradient(45deg, rgba(252,74,26,1) 0%, rgba(247,183,51,1) 100%);
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 15px 0px 15px 0px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.medium-blue-btn {
    width: 100%;
    background: #5F74FF;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 15px 0px 15px 0px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}