button {
    transition: all .5s ease-in-out;
}

.medium-gradient-btn {
    width: 100%;
    height: 50px;
    align-self: flex-end;
    background: linear-gradient(45deg, rgba(252, 74, 26, 1) 0%, rgba(247, 183, 51, 1) 100%);
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 15px 0px 15px 0px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.medium-border-btn {
    width: 100%;
    height: 50px;
    align-self: flex-end;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: lighter;
    padding: 15px 0px 15px 0px;
    border: 1px solid #fa8127;
    border-radius: 50px;
    cursor: pointer;
}

.medium-border-btn-simple {
    width: 100%;
    height: 50px;
    align-self: flex-end;
    background-color: transparent;
    color: #000000;
    font-size: 16px;
    font-weight: lighter;
    padding: 15px 0px 15px 0px;
    border: 1px solid #606060;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        border: 1px solid #fa8127;
        background-color: #fa812725;
    }
}

.medium-blue-btn {
    width: 100%;
    height: 50px;
    background: #5f74ff;
    color: #fff;
    font-size: 16px;
    font-weight: lighter;
    padding: 15px 0px 15px 0px;
    border: 1px solid transparent;
    border-radius: 50px;
    cursor: pointer;
    &:hover {
        border: 1px solid #5f74ff;
        background-color: #37438f;
    }
}

.buttons_section {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

    
    button {
        height: 85px;

        
    }
}

#home .buttons_section_triple {
    width: 300px;

    .select {
        width: 100%;
        & div.MuiFormControl-root{
            box-sizing: border-box;
            margin: 8px 0 8px 0;
            width: 100%;

        }
        .demo-simple-select-helper-label{
            color: #000000 !important;
        }
    }
    button:disabled {
        filter: grayscale(100%);
        background-color: #000000;
    }
}
