#editor {
    max-height: 100vh;
    height: 100vh;
    width: 100vw;

    .docx-wrapper {
        background-color: rgba(255, 255, 255, 0);
        margin: 0;
        padding-left: 0;
        padding-right: 0;
        width: 100%;
    }

    #docx_container_preview {
        overflow-y: scroll;
        max-width: 100vw;
        max-height: 100vh;
        transition: background-color 1s ease-in-out;
        transition-delay: 1s;

        table {
            word-break: break-all;
        }

        .highlight {
            background-color: orange;
        }

        section.docx {
            margin-left: 0px;
            min-width: 550px;
            width: calc(100vw - 350px - 350px) !important;
            max-width: 800px;
        }
    }

    #docx_container_editor {
        top: 25px;
        position: fixed;
        align-items: flex-start;
        justify-items: center;
        display: flex;
        height: 100vh;
        left: max(25px, calc(60vw - 800px - 350px));
    }

    
    #docx_container_docs {
        margin-top: auto;
        margin-bottom: auto;
        position: fixed;
        align-items: flex-start;
        justify-items: center;
        display: flex;
        height: 750px;
        top: 25px;
        right: max(25px, calc(60vw - 800px - 350px));
    }


    .loading_elem {
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        left: 0;
        z-index: 99999999;

        span {
            margin: auto;
        }
    }
}
