.input-field {

    width: 100% !important;

    .Mui-focused {
        color: #FA8127 !important;

        &::after {
            border-color: #FA8127 !important;
        }
    }

}

.inputs-section {
    display: flex;
    flex-direction: column;
}

.inputs-block {
    padding-right: 5px;
    display: grid;
    align-content: space-between;
    grid-template-columns: 1fr;
    gap: 5px;
    overflow-y: auto;
    margin-bottom: 25px;

    * {
        margin-top: auto;
        overflow: hidden;
        height: fit-content;
    }

}
