.input-field {

    width: 100% !important;

    .Mui-focused {
        color: #FA8127 !important;

        &::after {
            border-color: #FA8127 !important;
        }
    }

}

.inputs-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.inputs-block {
    display: flex;
    flex-direction: column;
}