$width: 80vw;

.clearBG {
    background-color: rgba(255, 127, 80, 0.262);
    min-height: 500px;
    min-width: 500px;
    width: $width;
    margin: auto;
    :first-child {
        margin: auto;
    }
}

#docx_container_preview {
    background-color: aliceblue;
    width: calc($width - 20vh);

    table {
        width: calc($width - 50vh) !important;
        col {
            width: auto !important;
        }
    }
}
