$width: 80vw;

.clearBG {
    background-color: rgba(248, 213, 201, 0.872);
    min-height: 500px;
    min-width: 500px;
    width: $width;
    margin: auto;
}

#docx_container_preview {
    background-color: aliceblue;
    //width: calc($width - 20vh);

    table {
        word-break: break-all;
    }

    .highlight {
        background-color: aqua;
    }
}

.large input{
    height: 100px !important;
}

.small input{
    height: 30px !important;
}
